td {
    width: 40px !important;
    height: 40px !important;
}

#layout-table {
    width: unset !important;
}

#layout-table tr td {
    user-select: none;
}

#layout-table td:hover {
    filter: brightness(1.2);
    --bs-border-color: #000;
    --bs-border-width: 2px;
}

.popper-tooltip {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    display: none;
    position: absolute;
    margin-left: 35px;
    margin-top: 15px;
    filter: none !important;
}

.popper-tooltip[data-show] {
    display: block;
    position: absolute;
}